.card {
   
}

.header{
    font-size: 24px;
    color: blue;
    text-align: center;
    border-bottom: 1px solid blue;
    margin-bottom: 10px;
}

.item{
    padding: 10px;
    margin-bottom: 15px;
    background:#c2e4f8;
    border: 1px solid #66b3e3;
}