
.outerDiv
{
    color: #fff;
    margin: 0px auto;
    padding: 5px;
}
.leftDiv
{
    // background-color: #efefef;
    color: #000;
    height: auto;
    width: 48%;
    float: left;
}
.rightDiv
{
    // background-color: #efefef;
    color: #000;
    height: auto;
    width: 48%;
    float: right;
}			